Install needed libraries

In [183]:
#!pip install pymysql
#!pip install mysql-connector
#!pip install mysql-connector-python
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation
import pymysql

import pandas as pd # Python data manilpulation
import numpy as np # Populating our tables

Create connection to the local instance of SQL Workbench

In [185]:
conn = pymysql.connect(
    host="localhost", 
    user="root", 
    password="Deadlyeducation25!")

cursor = conn.cursor()

# CREATE DATABASE (SQL command) if it does not already exist
cursor.execute("CREATE DATABASE IF NOT EXISTS marvel_hero")

print("Database created successfully in MySQL Workbench! Go check it out.")

# Since my database is created now, I USE The database instead.
#cursor.execute("USE marvel_hero")
#print("Using the marvel_hero database")

Database created successfully in MySQL Workbench! Go check it out.

In [187]:
# Connect to the MySQL server 
# Define our variables. We set these during our first class in our technology set up. 
# If you are unsure of these variables, do not guess. 
# Visit MySQL Workbench for the localport number, host and user.

conn = mysql.connector.connect(
        host= "localhost", # This is your local instance number when you open MySQL Workbench.
        user= "root", # This is your username for MySQL Workbench
        password= "Deadlyeducation25!") # We wrote this password down in our first class!

# In order to connect to the server, we must include all of the above.

cursor = conn.cursor()

# CREATE DATABASE (SQL command) if it does not already exist
#cursor.execute("CREATE DATABASE IF NOT EXISTS X")
# MySQL_SpotifyDatabase will be the name when the database is created.

print("Database created successfully in MySQL Workbench! Go check it out.")

Database created successfully in MySQL Workbench! Go check it out.

In [189]:
# Time to connect to the database using SQL Alchemy:
DATABASE_URL = "mysql+mysqlconnector://root:Deadlyeducation25!@localhost/marvel_hero" # Use MySQL Connector to connect to the database
engine = create_engine(DATABASE_URL) # Creates a connection to the MySQL database

print("Connected to MySQL database successfully!")

Connected to MySQL database successfully!

In [191]:
# Read in the CLEAN .csv file (Using pandas) we will use to populate our database. This is the same dataset that you cleaned for Assignment #2!
marvelcomics = pd.read_csv("C:/Users/dan iovino/OneDrive - go.Stockton.edu/DSSA 2025/Marvel_Data.csv")

In [193]:
# Preview the dataframe by looking at the first five rows.
print(marvelcomics.head(5))

   Unnamed: 0                                         comic_name active_years  \
0           1     A Year of Marvels: April Infinite Comic (2016)        -2016
1           2    A Year of Marvels: August Infinite Comic (2016)        -2016
2           3  A Year of Marvels: February Infinite Comic (2016)        -2016
3           4      A Year of Marvels: July Infinite Comic (2016)        -2016
4           5      A Year of Marvels: June Infinite Comic (2016)        -2016

                                         issue_title publish_date  \
0  A Year of Marvels: April Infinite Comic (2016) #1     4/1/2016
1  A Year of Marvels: August Infinite Comic (2016...    8/10/2016
2  A Year of Marvels: February Infinite Comic (20...    2/10/2016
3   A Year of Marvels: July Infinite Comic (2016) #1    6/29/2016
4   A Year of Marvels: June Infinite Comic (2016) #1    6/15/2016

                    penciler                   writer    cover_artist  \
0               Yves Bigerel             Yves Bigerel  Jamal Campbell
1             Jamal Campbell  Chris Sims, Chad Bowers             NaN
2  Danilo S. Beyruth, M Mast               Ryan North             NaN
3             Juanan Ramirez             Chuck Wendig  Jamal Campbell
4            Diego Olortegui               Paul Allor  Jamal Campbell

            imprint           format     rating  price    year
0   Marvel Universe   Infinite Comic          t    0.0  2016.0
1   Marvel Universe   Infinite Comic  no rating    0.0  2016.0
2   Marvel Universe   Infinite Comic          t    0.0  2016.0
3   Marvel Universe   Infinite Comic  no rating    0.0  2016.0
4   Marvel Universe   Infinite Comic  no rating    0.0  2016.0

In [195]:
#Reviewing the data to NA values
marvelcomics.isnull().sum()

Unnamed: 0          0
comic_name          0
active_years        0
issue_title       526
publish_date      526
penciler         9510
writer           7397
cover_artist    22737
imprint         23308
format           2098
rating              0
price               0
year              526
dtype: int64

In [197]:
# replaces the empty data with blanks 
marvelcomics = marvelcomics.fillna({
    'issue_title': '',
    'publish_date': '',  #datetime? fix (possibly 0 instead of ''
    'penciler': '',
    'writer': '',
    'cover_artist': '',
    'imprint': '',
    'format': '',
    'year': 1900
})

In [199]:
#Reviewing the data to NA values
marvelcomics.isnull().sum()

Unnamed: 0      0
comic_name      0
active_years    0
issue_title     0
publish_date    0
penciler        0
writer          0
cover_artist    0
imprint         0
format          0
rating          0
price           0
year            0
dtype: int64

In [201]:
# What are all of the column names and data types for our dataset? 
# It is important to know the column names from the .csv because these are the field names we will want to use for our first table.
# Remember, the field names represent the column names of the csv/table.

# Print the column names
print(marvelcomics.columns)
#Print the column data types
#Recheck all column types
print(marvelcomics.dtypes)

#Two things need fixing here is that somehow, between the csv file and here:
    #1. the data type for the publish_date column has changed from a datetime64[ns] data type to an object data type
    #2. the year needs to be turned from an integer (i.e. 2016.0) to a whole number


#Changing publish_date column

#Preview the publish_date column with .head()
marvelcomics['publish_date'].head(5)

#It appears the data is unaltered, but we will change the typing just in case
# Change 'publish_date' to datetime data type
marvelcomics['publish_date'] = pd.to_datetime(marvelcomics['publish_date'])

#Turn the year in each row of the publish_date column into a seperate column
marvelcomics['month'] = marvelcomics['publish_date'].dt.month

# Confirm data type after change
print("After conversion:", marvelcomics['publish_date'].dtype)
print("After conversion:", marvelcomics['publish_date'].head(2))

#Changing year column
#We also want to turn the year column from a float[64] data type to a year data type
marvelcomics['year'].head(5)
#We don't want this column as an integer
# Convert 'Year' column to integers (rounding the values if necessary)
marvelcomics['year'] = marvelcomics['year'].round().astype('Int64')  # Using 'Int64' for nullable integers

#Repeat for month
marvelcomics['month'] = marvelcomics['month'].round().astype('Int64')

#Print for sanity
marvelcomics['year'].head(5)
marvelcomics['month'].head(5)

# Replace NaN values with None (which translates to NULL in SQL)
marvelcomics = marvelcomics.where(pd.notna(marvelcomics), None)

#Specifically in the price column, where a repeated error shows up during the field pop stage
marvelcomics['price'] = marvelcomics['price'].apply(lambda x: None if pd.isna(x) else x)

#Double check for nan values in the price column
print(marvelcomics['price'].isna().sum())  # Should be 0 if NaN values were removed
#Ok zero nan detected, which makes the later issue strange

Index(['Unnamed: 0', 'comic_name', 'active_years', 'issue_title',
       'publish_date', 'penciler', 'writer', 'cover_artist', 'imprint',
       'format', 'rating', 'price', 'year'],
      dtype='object')
Unnamed: 0        int64
comic_name       object
active_years     object
issue_title      object
publish_date     object
penciler         object
writer           object
cover_artist     object
imprint          object
format           object
rating           object
price           float64
year            float64
dtype: object
After conversion: datetime64[ns]
After conversion: 0   2016-04-01
1   2016-08-10
Name: publish_date, dtype: datetime64[ns]
0

In [203]:
#Triple check NA's after changing publish_date data type and adding month column
#Reviewing the data to NA values
marvelcomics.isnull().sum()

Unnamed: 0        0
comic_name        0
active_years      0
issue_title       0
publish_date    526
penciler          0
writer            0
cover_artist      0
imprint           0
format            0
rating            0
price             0
year              0
month           526
dtype: int64

In [205]:

#replace all the missing datetime values with None instead of 0 since i read that zero cant be read by the datatime() data type
marvelcomics['publish_date'] = marvelcomics['publish_date'].replace([np.nan, 0, '0', 'nan', 'NaT', pd.NaT], None)

#replace all the missing datetime values with None instead of 0 since i read that zero cant be read by the datatime() data type
marvelcomics['month'] = marvelcomics['month'].replace([np.nan, 0, '0', 'nan', 'NaT', pd.NaT], None)

In [207]:
marvelcomics.isnull().sum()

Unnamed: 0        0
comic_name        0
active_years      0
issue_title       0
publish_date    526
penciler          0
writer            0
cover_artist      0
imprint           0
format            0
rating            0
price             0
year              0
month           526
dtype: int64

In [209]:
marvelcomics.to_csv("Final_Marvel_Data.csv", index=False) # Use pandas to save as .csv file
print("Saved to Final_Marvel_Data.csv") # Confirm .csv file saved

Saved to Final_Marvel_Data.csv

Create tables

In [211]:
# Create our first table in the database file using SQL statements:
# We want our table column names to match what is in the .csv file
publish_table_query = """CREATE TABLE IF NOT EXISTS publish(
                    id INT AUTO_INCREMENT PRIMARY KEY,
                    active_years  VARCHAR(250),
                    publish_date DATETIME,
                    year INT,
                    month INT
                    );"""
# Note that the primary key for this table is a column/field "id"
# This is not a field that existed previously. AUTO_INCREMENT automatically generates a unique value for each new row added to the table. 
# Each new value is one greater than the previous value. We cannot make the Date column/field our primary key, because it is not unique.

#Execute the query:
with engine.connect() as connection:
    connection.execute(text(publish_table_query))

print("publish_info table created successfully!")

publish_info table created successfully!

In [213]:
#Create staff table
staff_table_query = """CREATE TABLE IF NOT EXISTS staff(
                    id INT AUTO_INCREMENT PRIMARY KEY,
                    penciler VARCHAR (300),
                    writer VARCHAR (300),
                    cover_artist VARCHAR (300)
                    );"""

#Execute the query:
with engine.connect() as connection:
    connection.execute(text(staff_table_query))

print("staff_info table created successfully!")

staff_info table created successfully!

In [219]:
#Create issue table query

issue_table_query = """CREATE TABLE IF NOT EXISTS issue(
                    id INT AUTO_INCREMENT PRIMARY KEY,
                    publish_id INT,
                    staff_id INT,

                    comic_name VARCHAR(500),
                    issue_title VARCHAR (500),
                    imprint VARCHAR (300),
                    format VARCHAR (300),
                    rating VARCHAR (300),
                    price DECIMAL(10, 2),


                    FOREIGN KEY (publish_id) REFERENCES publish(id),
                    FOREIGN KEY (staff_id) REFERENCES staff(id)

                    );"""

#Execute the query:
with engine.connect() as connection:
    connection.execute(text(issue_table_query))

#Print for sanity
print("issue table created successfully!")

issue table created successfully!

Populating tables

In [221]:
# Insert my data into the table using a for loop to go through the rows

with engine.connect() as connection: #opens the connection
    cursor.execute("USE marvel_hero;") #makes sure to use the marvel_hero database

    
    for _, row in marvelcomics.iterrows(): #populates the table into the database
        cursor.execute("""INSERT INTO publish (active_years, publish_date, year, month)
                          VALUES (%s, %s, %s, %s)
                       """, (row['active_years'],
                            row['publish_date'],
                            row['year'],
                            row['month']
                              
                            ))
    
    conn.commit() #finalizes everything

In [223]:
# Insert my data into the table using a for loop to go through the rows

with engine.connect() as connection: #opens the connection
    cursor.execute("USE marvel_hero;") #makes sure to use the marvel_hero database

    
    for _, row in marvelcomics.iterrows(): #populates the table into the database
        cursor.execute("""INSERT INTO staff (penciler, writer, cover_artist)
                          VALUES (%s, %s, %s)
                       """, (row['penciler'],
                            row['writer'],
                            row['cover_artist']
                              
                            ))
    
    conn.commit() #finalizes everything

In [225]:
# Insert data into the table using a for loop to go through the rows

with engine.connect() as connection: #opens the connection
    cursor.execute("USE marvel_hero;") #makes sure to use the marvel_hero database

    
    for _, row in marvelcomics.iterrows(): #populates the table into the database
        cursor.execute("""INSERT INTO issue (comic_name, issue_title, imprint, format, rating, price, publish_id, staff_id)
                          VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
                       """, (row['comic_name'],
                            row['issue_title'],
                            row['imprint'],
                            row['format'],
                            row['rating'],
                            row['price'],
                            None,
                            None
                            ))
    
    conn.commit() #finalizes everything

Query the data

In [227]:
# Now that we have populated our table, let's try out a query.
#Query which writers have the greatest number of issues across their career at Marvel

with engine.connect() as connection:  # Establish a connection
    practice_query = text("""SELECT writer, COUNT(*) as count
                             FROM staff
                             GROUP BY writer
                             ORDER BY count DESC
                             LIMIT 10;
                                 """) # Define the query - text() ensures that the query string is read as a SQL expression 
    practice_query = pd.read_sql(practice_query, connection) #Use pandas to read the sql query with the connection to the database
    
# Print the results
practice_query

                 writer  count
0                         7397
1  Brian Michael Bendis    859
2       Chris Claremont    685
3              Stan Lee    638
4           Peter David    609
5            Roy Thomas    401
6           Jason Aaron    362
7        Fabian Nicieza    332
8             Mark Waid    280
9           Tom Defalco    279

In [231]:
#Close the database connection :)
conn.close()